template.au-animate
    .html-panel(ref="element")
        section.uk-container.uk-width-1-1
            h1.uk-h1 ${component.component}
            span(innerhtml.bind="component.description.summary")

            template(if.bind="props(component.tags, 'bindable').length > 0")
                h2.uk-h2.uk-heading-bullet Bindable Properties
                p(repeat.for=
                    "tag of props(component.tags, 'bindable')"
                    innerhtml.bind="tag.description"
                    ) ${tag.name}

            template(if.bind="props(component.tags, 'pseudo').length > 0")
                h2.uk-h2.uk-heading-bullet Attributes
                p(repeat.for="tag of props(component.tags, 'pseudo')") ${tag.name}
                | ${tag.description}

            hr.uk-divider-icon

            component-section(repeat.for="section of component.sections" section.bind="section")

